.new_music_txt {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    margin: 5px;
    margin-bottom: 0;
}

.caption {
    color: darkgray;
    font-family: sans-serif;
    margin: 5px;
    font-size: 20px;
}

.new {
    border-style: solid;
    border-width: 5px; 
    border-radius: 10px;
    margin: 5px;
    color: #404040;
}

.under_text {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    margin: 5px;
    margin-bottom: 0;
    margin-top: 40px;
}